/*
  Universal sizes
 */

html, body {
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

a:hover
{
  color: gray;
  cursor:pointer;

}

.list-images {
  opacity: 0.5;
}

.list-images:hover {
  opacity: 1;
  cursor: pointer;
}

#scrollBtn {
  position: relative;
  bottom: 20px;
}

.title {
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Calibri", serif;
}

.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/*
  Covers size '4' screens
 */

#name4 {
  position: absolute;
  top: 46vh;
  left: 43vw;
}

.sub-links4 {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
 }

#box4 {
  position: absolute;
  left: 21vw;
  right: 20vw;
  top: 105%;
}

#scrollPos4 {
  position: absolute;
  margin-left: 49%;
  margin-right: 50%;
  bottom: 20px;
  left: -1vw;
}

#contactBox4 {
  position: relative;
  left: 24vw;
  margin-bottom: 40px;
  max-width: 190px;
}

/*
  Covers size '3' screens
 */

#name3 {
  position: absolute;
  top: 46vh;
  left: 38vw;
}

.sub-links3 {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
}

#box3 {
  position: absolute;
  left: 21vw;
  right: 20vw;
  top: 105%;
}

#scrollPos3 {
  position: absolute;
  margin-left: 46%;
  margin-right: 50%;
  bottom: 20px;
}

#contactBox3 {
  position: relative;
  left: 21vw;
  margin-bottom: 40px;
  max-width: 190px;
}

/*
  Covers size '2' screens
 */

#name2 {
  position: absolute;
  top: 46vh;
  left: 35vw;
}

.sub-links2 {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
}

#box2 {
  position: absolute;
  left: 21vw;
  right: 20vw;
  top: 105%;
}

#scrollPos2 {
  position: absolute;
  margin-left: 45%;
  margin-right: 50%;
  bottom: 20px;
}

#contactBox2 {
  position: relative;
  left: 18vw;
  margin-bottom: 40px;
}

/*
  Covers size '1' screens
 */

#name1 {
  position: absolute;
  top: 46vh;
  left: 25vw;
}

.title1 {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Calibri", serif;
}

.sub-links1 {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
}

#box1 {
  position: absolute;
  left: 21vw;
  right: 20vw;
  top: 105%;
}

#scrollPos1 {
  position: absolute;
  margin-left: 43%;
  margin-right: 50%;
  bottom: 20px;
}

#contactBox1 {
  position: relative;
  left: 14vw;
  margin-bottom: 40px;
}

.image1 {
  width: 200px
}

/*
  Covers size '0' screens
 */

#name0 {
  position: absolute;
  top: 46vh;
  left: 20vw;
}

.sub-links0 {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
}

#box0 {
  position: absolute;
  left: 21vw;
  right: 20vw;
  top: 130%;
}

#scrollPos0 {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  bottom: 20px;
  left: -6vw;
}

#contactBox0 {
  position: relative;
  left: 9vw;
  margin-bottom: 40px;
}

.image0 {
  width: 200px
}
