html, body {
  scroll-behavior: smooth;
}

.title {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-family: "Calibri", serif;
}

.sub-links {
  margin: 5px;
  font-size: 37px;
  display: inline-flex;
 }

#box {
   position: absolute;
   right: 0;
   top: 10px;
 }
#box2 {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 105%;
}

.dialogs1 {
  height: 100%;
  margin: 20px;
  width: 200px;
  position: relative;
  padding: 10px;
  border: 2px solid pink;
  box-shadow:  -1px 1px 0 pink,
  -2px 2px pink,
  -3px 3px red,
  -4px 4px red,
  -5px 5px red,
  -6px 6px red,
  -7px 7px blue,
  -8px 8px blue,
  -9px 9px blue,
  -10px 10px blue;

}

.dialogs2 {
  margin: 20px;
  width: 100%;
  position: relative;
  padding: 10px;
  border: 2px solid pink;
  box-shadow:  -1px 1px 0 pink,
  -2px 2px pink,
  -3px 3px red,
  -4px 4px red,
  -5px 5px red,
  -6px 6px red,
  -7px 7px blue,
  -8px 8px blue,
  -9px 9px blue,
  -10px 10px blue;

}

a {
  color: black;
  text-decoration: none;
}

a:hover
{
  color: gray;
  cursor:pointer;

}

.github-image:hover {
  opacity: 0.5;
}

.list-images {
  opacity: 0.5;
}

.list-images:hover {
  opacity: 1;
  cursor: pointer;
}

.picture:hover {
  border: 2px solid pink;
  box-shadow:  -1px 1px 0 pink,
  -2px 2px pink,
  -3px 3px red,
  -4px 4px red,
  -5px 5px red,
  -6px 6px red,
  -7px 7px blue,
  -8px 8px blue,
  -9px 9px blue,
  -10px 10px blue;
}

#openTitle {
  cursor: default;
  color: white;
  text-shadow: -3px 3px 0 black,
  3px -3px 0 black,
  3px 3px 0 black,
  -3px -3px 0 black,
  0 3px black,
  3px 0 black,
  0 -3px black,
  -3px 0 black;
}

#openMessage {
  cursor: default;
  font-size: 40px;
  color: white;
  text-shadow: -2px 2px 0 black,
  2px -2px 0 black,
  2px 2px 0 black,
  -2px -2px 0 black,
  0 2px black,
  2px 0 black,
  0 -2px black,
  -2px 0 black;
}

#titlePos {
  position: absolute;
  left: 30%;
  top: 30%;
}

#scrollPos {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  bottom: 20px;
}
#scrollWords {
  cursor: default;
  position: relative;
  font-size: 20px;
  bottom: 10px;
  color: white;
  text-shadow: -1px 1px 0 black,
  -2px 2px 0 black;

}

#scrollBtn {
  position: relative;
  bottom: 20px;
}
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-shadow: -1px 1px 0 black,
  -2px 2px 0 black;
}


.btn:hover { text-decoration: none;
  color: white;
}

.btn-2:after,
.btn-2:before {
  visibility: hidden;
  border: 1px solid white;
  bottom: 0;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  box-shadow: -1px 1px 0 pink,
  -2px 2px 0 pink,
  -3px 3px 0 red,
  -4px 4px 0 red,
  -5px 5px 0 blue,
  -6px 6px 0 blue;
}

.btn-2:hover:after,
.btn-2:hover:before {
  transition-delay: 5s;
  visibility: visible;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
  box-shadow: -1px 1px 0 pink,
  -2px 2px 0 pink,
  -3px 3px 0 red,
  -4px 4px 0 red,
  -5px 5px 0 blue,
  -6px 6px 0 blue;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

#sub1, #sub2 {
  font-size: 16px;
}
