<div>
  <div id="box">
    <mat-card class="dialogs1">
      <mat-card-header>
        <mat-card-title class="title">Contact Me</mat-card-title>
        <mat-card-subtitle style="display: inline-flex; margin: 2px">
          <a href="mailto: isaiahdorado@gmail.com" class="sub-links" rel="noreferrer">
            <mat-icon [inline]="true" matTooltip="Email">mail</mat-icon>
          </a>
          <a href="https://www.linkedin.com/in/isaiah-dorado/" target="_blank" class="sub-links" rel="noreferrer">
            <mat-icon [inline]="true" matTooltip="LinkedIn">account_circle</mat-icon>
          </a>
          <a href="https://github.com/zaydor" target="_blank" style="transform-origin: center; transform: translateY(-6px)" class="sub-links" rel="noreferrer">
            <img src="../assets/GitHub-Mark-32px.png" matTooltip="GitHub" class="github-image" alt="github">
          </a>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div id="titlePos">
    <h1 id="openTitle"><b>Hi, I'm Isaiah.</b></h1>
    <h1 id="openMessage">&nbsp; &nbsp; &nbsp; I study Computer Science at San Diego State <br>&nbsp; &nbsp; &nbsp; and I enjoy web development.</h1>
  </div>
  <div id="scrollPos">
    <div id="scrollWords" style="text-align: center">
      <p>V</p>
    </div>
    <div id="scrollBtn">
      <a class="btn btn-2" style="z-index: 20" (click)="scrollToBottom()"><span>Scroll</span></a>
    </div>
  </div>

  <div id="box2">
    <mat-card class="dialogs2">
      <mat-card-header>
        <mat-card-title id="title1" style="font-size: 48px" class="title"><u>Stuff I've Done</u></mat-card-title>
        <mat-card-subtitle><br><a id="sub1" href="../assets/DoradoIsaiahResume2020.pdf" download>Download Resume</a></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <br>
        <h1 id="title2" style="font-size: 48px" class="title"><u>FrameWorks/Languages/Source Control</u></h1>
        <span style="display: inline-flex" id="sub2">
          <ul>
            <li>Angular (TS/HTML/CSS)</li>
            <li>Python</li>
            <li>Javascript</li>
          </ul>

          <ul>
            <li>Java</li>
            <li>C#</li>
            <li>Git</li>
          </ul>

          <ul>
            <li>SourceTree</li>
          </ul>
        </span>
        <br><br>
        <h1 id="title3" style="font-size: 48px" class="title"><u>Projects</u></h1>
        <mat-grid-list cols="2" rowHeight="2:1" gutterSize="15px">
          <mat-grid-tile matTooltip="Create a profile website" matTooltipPosition="left">
            <a></a>
            <img src="../assets/CASHCARTI.webp" class="list-images" alt="Create a profile website">
          </mat-grid-tile>
          <mat-grid-tile matTooltip="Mock Website Landing Page" matTooltipPosition="right">
            <a>
              <img src="../assets/parallax-slider1.jpg" class="list-images" alt="Mock Website Landing Page">
            </a>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <a href="http://4dvd.sdsu.edu/" target="_blank" rel="noreferrer">
              <img  src="../assets/4DVDLogoV1.webp" class="list-images" alt="4DVD" matTooltip="4DVD Research" matTooltipPosition="left">
            </a>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
